div.user {
    background: white;
    border: 1px solid #ececec;
    padding: 15px;
    color: rgb(4, 0, 56);
}

div.user h2 {
    margin-top: 0;
}

div.user h2,
div.user strong {
    font-weight: bold;
}

div.user dt {
    color: rgb(172, 172, 179);
}

div.user dd {
    margin: 0;
}